html{
	cursor: url('img/cursor.png'), default;
}

body{
	margin:0 0 0 0;
	background:#f2f2f2;
	font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
	height: 100vh;
	
}

header{
	width:100%;
	height: 80px;
	background-color: #f2f2f2;
	position: fixed;
	z-index: 1000;

}

#logo-link {
	position: absolute;
	width: 22%;
	margin: 35px 0px 0px 30px;
	background-color: ;
	cursor: url('img/cursor-link.cur'), default;
	
}

#logo{
	width: 100%;
	cursor: url('img/cursor-link.cur'), default;
	background-color: ;
}

.container-menu{
	width: 20px;
	display: inline-block;
	right: 0;
	margin-right:30px;
	margin-top: 37px;
	position: absolute;
	background-color: ;
	z-index: 100;
}


.bar1, .bar3 {
	width: 100%;
  	height: 2px;
  	background-color: black;
  	margin: 3px 0;
  	-ms-transition: 0.4s;
  	-moz-transition: 0.4s;
  	-webkit-transition: 0.4s;
  	transition: 0.4s;
}

.change .bar1 {
	-ms-transform: rotate(-45deg) translate(4px, 4px);
	-moz-transform: rotate(-45deg) translate(4px, 4px);
  	-webkit-transform: rotate(-45deg) translate(4px, 4px);
  	transform: rotate(-45deg) translate(4px, 4px);
}

.change .bar3 {
	-ms-transform: rotate(45deg) translateY(-6.6px);
	-moz-transform: rotate(45deg) translateY(-6.6px);
  	-webkit-transform: rotate(45deg) translateY(-6.6px);
  	transform: rotate(45deg) translateY(-6.6px);
}

nav{
	width:100%;
	height: 100vh;
	background-color: white;
	position: absolute;
	display: none;

}

nav ul{
	width:20%;
	height: 40%;
	list-style-type: none;
	margin-top: 170px;
	margin-left: 0%;
	background-color: ;
	
}

nav li{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: ;
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
}

li:nth-child(3){
	font-weight: bold;
}

#desktop-menu{
	display: none;
}

.menu-link{
	text-decoration: none;
	color:black;
}

#info-box{
	animation: onload 3s;
}

@keyframes onload{
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#slika{
	width: 40%;
	height: 23%;
	margin-top: 30%;
	right: 13%;
	background-image: url("img/slika.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color:  ;
	position: absolute;
}

#info{
	width: 80%;
	margin-left: 10%;
	margin-top: 45%;
	font-size: 15px;
	position: absolute;
	font-family: 'Montserrat', serif;
	line-height: 1.8;
	color: #33334d;
	text-align: justify;
	background-color: ;
}

p{
	font-family: 'Cormorant', serif;
	font-size: 14px;
	width: 70%;
	margin-left: 5%;
	text-indent: 20px;
}

footer{
	margin-top: 180%;
	position: absolute;
	display: inline-flex;	
	background-color: ;
	margin-left: 5%;
	align-items: center;
	padding: 5% 0 3% 0;
	font-size: 10px;
	font-family:  'Montserrat', sans-serif;
	width: 95%;
}

#instagram a{
	font-size: 10px;
	font-family:  'Montserrat', sans-serif;
	color: #33334d;
	text-transform: uppercase;
	padding-left: 5px;
	text-decoration: none;

}

#crtica{
	width: 10px;
	height: 1px;
	background-color: #33334d;
	
}

#copyright{
	text-decoration: none;
	color: #33334d;
	margin-left: 55%;
}

@media screen and (min-width: 500px) and (orientation: landscape){
	#logo-link {
		width: 10%;
		margin-top: 30px;
	}

	nav ul{
		width:20%;
		height: 40%;
		list-style-type: none;
		margin-top: 10%;
		margin-left: 0%;
		background-color: ;
		
	}

	#slika{
		width: 40%;
		height: 60%;
		margin-top: 15%;
	}

	#info{
		width: 80%;
		margin-top: 23%;
	}

	a:nth-child(2){
		color: #b3b3b3;
	}

	p{
		width: 65%;
		font-size: 18px;
		margin-bottom: 55px;
		line-height: 2;
	}

	footer{
		margin-top: 100%;
	}

	#copyright{
		margin-left: 75%;
	}


}


@media screen and (min-width : 700px){
	nav, .container-menu{
		display: none;
	}

	#desktop-menu{
		display: inline-flex;
		right: 4%;
		position: absolute;
		margin-top: 4%;
	}

	.menu{
		padding: 10px;
		font-size: 12px;
		float: right;
		text-transform: uppercase;
		padding-left: 30px;
		font-weight: bold;
		color: #33334d;
		letter-spacing: 1.5px;
		cursor: url('img/cursor-link.cur'), default;
		text-decoration: none;
	}

	#logo-link {
		margin: 40px 0px 0px 45px;
		background-color: ;
		width: 15%;
	}

	#info{
		margin-top: 40%;
		width: 70%;
		font-size: 21px;
	}

	p{
		font-size: 23px;
		margin-bottom: 90px;
		width: 70%;
	}

	footer{
		margin-top: 150%;
	}

	#copyright{
		font-size: 14px;
		margin-left: 72%;
	}

	#instagram a{
		font-size: 12px;
	}

	#crtica{
		width: 20px;
	}
	
@media screen and (min-width : 1024px){
	#logo-link {
		width: 6%;
		padding-top: 20px;
		margin-top: 20px;
	}

	#desktop-menu{
		margin-top: 1.5%;
	}

	.menu{
		padding-top: 20px;
	}

	#slika{
		width: 30%;
		height: 45%;
		margin-top: 15%;
		right: 18%;
	}

	#info{
		width: 50%;
		margin-left: 18%;
		margin-top: 20%;
		font-size: 18px;
		position: absolute;
		font-family: 'Montserrat', serif;
		line-height: 1.8;
		color: #33334d;
		background-color: ;

	}

	p{
		font-family: 'Cormorant', serif;
		font-size: 20px;
		margin-left: 8%;
		padding-bottom: 10%;
	}

	footer{
		margin-top: 90%;
		padding-bottom: 2%;
		font-size: 12px;
	}

	#instagram a{
		cursor: url('img/cursor-link.cur'), default;
		padding-bottom: 20px;
		padding-top: 20px;
		font-size: 12px;

	}

	#copyright{
		margin-left: 80%;
	}
	
}

@media screen and (min-width : 1400px){
	#info{
		width: 35%;
		margin-left: 25%;
		margin-top: 15%;
	}

	p{
		width: 70%;
		margin-bottom: 25%;
		font-size: 22px;
	}

	#slika{
		right: 25%;
		margin-top: 10%;
		width: 25%;
	}

	footer{
		margin-top: 42%;
	}

	#copyright{
		margin-left: 85%;
		font-size: 12px;
	}
}
